test/list_tags.json
[
    {
        "id": "086f488fb393be31",
        "type": "tab",
        "label": "list_tags",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a77a4f2a571f2896",
        "type": "group",
        "z": "086f488fb393be31",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "d0bf71f0aa51437f",
            "752e9cc49067af88",
            "cbbe39a99fa1bd63",
            "1967b605596613fb",
            "e19134b9e6a06382",
            "24d637399dac1208",
            "09593eb8d3a6b9a6",
            "883aa3344930d87e",
            "50398e937891dd30",
            "762a4fa0836ec133",
            "a689a630c84048f6",
            "b64b87defa81f1df"
        ],
        "x": 174,
        "y": 119,
        "w": 1192,
        "h": 242
    },
    {
        "id": "d8aecde2d550849c",
        "type": "group",
        "z": "086f488fb393be31",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "53a7c38bee379561",
            "71acaab04ba7b1d2",
            "987157fb4be752f1",
            "82ce3bc7b5e5b57d",
            "14744ff30e8a1240",
            "377cd6edbac9c83c",
            "d1035ea8cf13b8d7",
            "676c5ac2e5df50e9",
            "bc5f6276851dec26",
            "2414571e59efbc4c",
            "6d1697e0c4c06d14",
            "517e6af494080ec8",
            "a78e24f4c4385069",
            "3af11e6b867c39eb",
            "cbbcedbe8446cb76",
            "ee4c7c1caa7bd1a5",
            "40c407d63b833905"
        ],
        "x": 174,
        "y": 459,
        "w": 1172,
        "h": 402
    },
    {
        "id": "9d96dc71ac124b1c",
        "type": "group",
        "z": "086f488fb393be31",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "4300f12f92dd20b9",
            "f2d246998ce985e0",
            "abda6c9fb0178503",
            "c9e192c21dcd6dcd",
            "134923de6b4bc125",
            "bb5a2979f7613aa6",
            "bd405b2005db622a",
            "b9dea23072de6d1a",
            "9a5cc20d015dca7a",
            "5a61e0b25b10b4fc",
            "13a88a650be35540",
            "c1796e9548303909",
            "39bc2fcef63efa12"
        ],
        "x": 174,
        "y": 939,
        "w": 1132,
        "h": 302
    },
    {
        "id": "976107f23af6c8b8",
        "type": "comment",
        "z": "086f488fb393be31",
        "name": "Test suite: List tags",
        "info": "",
        "x": 90,
        "y": 80,
        "wires": []
    },
    {
        "id": "d0bf71f0aa51437f",
        "type": "test inject",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "onstart": false,
        "tests": "return [{\n\tlabel: 'test 1',\n\tassert: function (msg) {\n        // msg.result === msg.expected;\n\t\tshould(msg.result).is.exactly(msg.expected);\n\t}\n}];",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b64b87defa81f1df"
            ]
        ]
    },
    {
        "id": "752e9cc49067af88",
        "type": "json",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "e19134b9e6a06382"
            ]
        ]
    },
    {
        "id": "cbbe39a99fa1bd63",
        "type": "assert",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "x": 1290,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1967b605596613fb",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "expected",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "cbbe39a99fa1bd63"
            ]
        ]
    },
    {
        "id": "e19134b9e6a06382",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "24d637399dac1208"
            ]
        ]
    },
    {
        "id": "24d637399dac1208",
        "type": "http request",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.2.15:8585/api/v1/tags",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "762a4fa0836ec133"
            ]
        ]
    },
    {
        "id": "09593eb8d3a6b9a6",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "Actual result from openmetadata node",
        "info": "",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "883aa3344930d87e",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "Expected result from REST API",
        "info": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "50398e937891dd30",
        "type": "complete",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "scope": [
            "d0bf71f0aa51437f"
        ],
        "uncaught": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "53a7c38bee379561"
            ]
        ]
    },
    {
        "id": "762a4fa0836ec133",
        "type": "json",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "1967b605596613fb"
            ]
        ]
    },
    {
        "id": "a689a630c84048f6",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "name": "TC 23. List all tags with default value",
        "info": " 1. Input: default value\n\n 2. Expected: Return all tags non-deleted (max 10 records)",
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "b64b87defa81f1df",
        "type": "openmetadata",
        "z": "086f488fb393be31",
        "g": "a77a4f2a571f2896",
        "nodename": "",
        "openMetadataConfig": "ed60dcee1fc8d735",
        "resource": "list_tags",
        "showOptParams": true,
        "q": "*",
        "name": "PGSpider",
        "id_param": "<uuid>",
        "fqn": "postgres.test",
        "startTs": 0,
        "endTs": 1703149833694,
        "index": "table_search_index",
        "deleted": "false",
        "from": 0,
        "size": 10,
        "sort_field": "_score",
        "sort_order": "desc",
        "track_total_hits": "false",
        "query_filter": "",
        "post_filter": "",
        "fetch_source": "true",
        "include_source_fields": "",
        "parent": "",
        "fields": "",
        "domain": "",
        "service": "",
        "database": "",
        "disabled": "",
        "databaseSchema": "",
        "includeEmptyTestSuite": "true",
        "limit": "",
        "before": "",
        "after": "",
        "include": "",
        "qFieldType": "str",
        "nameFieldType": "str",
        "id_paramFieldType": "str",
        "fqnFieldType": "str",
        "startTsFieldType": "num",
        "endTsFieldType": "num",
        "indexFieldType": "str",
        "deletedFieldType": "bool",
        "fromFieldType": "num",
        "sizeFieldType": "num",
        "sort_fieldFieldType": "str",
        "sort_orderFieldType": "str",
        "track_total_hitsFieldType": "bool",
        "query_filterFieldType": "str",
        "post_filterFieldType": "str",
        "fetch_sourceFieldType": "bool",
        "include_source_fieldsFieldType": "str",
        "parentFieldType": "str",
        "fieldsFieldType": "str",
        "domainFieldType": "str",
        "serviceFieldType": "str",
        "databaseFieldType": "str",
        "disabledFieldType": "str",
        "databaseSchemaFieldType": "str",
        "includeEmptyTestSuiteFieldType": "bool",
        "limitFieldType": "num",
        "beforeFieldType": "str",
        "afterFieldType": "str",
        "includeFieldType": "str",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "752e9cc49067af88"
            ]
        ]
    },
    {
        "id": "53a7c38bee379561",
        "type": "test inject",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "onstart": false,
        "tests": "return [{\n\tlabel: 'test 1',\n\tassert: function (msg) {\n        // msg.result === msg.expected;\n\t\tshould(msg.result).is.exactly(msg.expected);\n\t}\n}];",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "ee4c7c1caa7bd1a5"
            ]
        ]
    },
    {
        "id": "71acaab04ba7b1d2",
        "type": "json",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 630,
        "y": 780,
        "wires": [
            [
                "14744ff30e8a1240"
            ]
        ]
    },
    {
        "id": "987157fb4be752f1",
        "type": "assert",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "x": 1270,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "82ce3bc7b5e5b57d",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "expected",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "987157fb4be752f1"
            ]
        ]
    },
    {
        "id": "14744ff30e8a1240",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 820,
        "wires": [
            [
                "377cd6edbac9c83c"
            ]
        ]
    },
    {
        "id": "377cd6edbac9c83c",
        "type": "http request",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.2.15:8585/api/v1/tags?parent=TestTag&fields=children%2C+usageCount&disabled=true&limit=5&after={{{after}}}&include=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "d1035ea8cf13b8d7"
            ]
        ]
    },
    {
        "id": "d1035ea8cf13b8d7",
        "type": "json",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "82ce3bc7b5e5b57d"
            ]
        ]
    },
    {
        "id": "676c5ac2e5df50e9",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "Actual result from openmetadata node",
        "info": "",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "bc5f6276851dec26",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "Expected result from REST API",
        "info": "",
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "2414571e59efbc4c",
        "type": "complete",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "scope": [
            "53a7c38bee379561"
        ],
        "uncaught": false,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "a78e24f4c4385069"
            ]
        ]
    },
    {
        "id": "6d1697e0c4c06d14",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "TC24. List all tags with parametes input valid",
        "info": " 1. Input: \n - parent: \"TestTag\"\n - fields: \"children, usageCount\"\n - disable: true\n - limit: 5\n - after: get value from another openmetadata node\n - include: \"all\"\n\n 2. Expected: Return all tags with specified parameters (max 5 records)",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "517e6af494080ec8",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "Get after param",
        "info": "",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "a78e24f4c4385069",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "after",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 820,
        "wires": [
            [
                "4300f12f92dd20b9"
            ]
        ]
    },
    {
        "id": "3af11e6b867c39eb",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "Clean flow's variable",
        "info": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "cbbcedbe8446cb76",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after",
                "pt": "msg",
                "to": "payload.paging.after",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "40c407d63b833905"
            ]
        ]
    },
    {
        "id": "ee4c7c1caa7bd1a5",
        "type": "openmetadata",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "nodename": "",
        "openMetadataConfig": "ed60dcee1fc8d735",
        "resource": "list_tags",
        "showOptParams": true,
        "q": "*",
        "name": "PGSpider",
        "id_param": "<uuid>",
        "fqn": "postgres.test",
        "startTs": 0,
        "endTs": 1703149833694,
        "index": "table_search_index",
        "deleted": "false",
        "from": 0,
        "size": 10,
        "sort_field": "_score",
        "sort_order": "desc",
        "track_total_hits": "false",
        "query_filter": "",
        "post_filter": "",
        "fetch_source": "true",
        "include_source_fields": "",
        "parent": "",
        "fields": "",
        "domain": "",
        "service": "",
        "database": "",
        "disabled": "",
        "databaseSchema": "",
        "includeEmptyTestSuite": "true",
        "limit": "",
        "before": "",
        "after": "",
        "include": "",
        "qFieldType": "str",
        "nameFieldType": "str",
        "id_paramFieldType": "str",
        "fqnFieldType": "str",
        "startTsFieldType": "num",
        "endTsFieldType": "num",
        "indexFieldType": "str",
        "deletedFieldType": "bool",
        "fromFieldType": "num",
        "sizeFieldType": "num",
        "sort_fieldFieldType": "str",
        "sort_orderFieldType": "str",
        "track_total_hitsFieldType": "bool",
        "query_filterFieldType": "str",
        "post_filterFieldType": "str",
        "fetch_sourceFieldType": "bool",
        "include_source_fieldsFieldType": "str",
        "parentFieldType": "str",
        "fieldsFieldType": "str",
        "domainFieldType": "str",
        "serviceFieldType": "str",
        "databaseFieldType": "str",
        "disabledFieldType": "str",
        "databaseSchemaFieldType": "str",
        "includeEmptyTestSuiteFieldType": "bool",
        "limitFieldType": "num",
        "beforeFieldType": "str",
        "afterFieldType": "str",
        "includeFieldType": "str",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "cbbcedbe8446cb76"
            ]
        ]
    },
    {
        "id": "40c407d63b833905",
        "type": "openmetadata",
        "z": "086f488fb393be31",
        "g": "d8aecde2d550849c",
        "nodename": "",
        "openMetadataConfig": "ed60dcee1fc8d735",
        "resource": "list_tags",
        "showOptParams": true,
        "q": "*",
        "name": "PGSpider",
        "id_param": "<uuid>",
        "fqn": "postgres.test",
        "startTs": 0,
        "endTs": 1703149833694,
        "index": "table_search_index",
        "deleted": "false",
        "from": 0,
        "size": 10,
        "sort_field": "_score",
        "sort_order": "desc",
        "track_total_hits": "false",
        "query_filter": "",
        "post_filter": "",
        "fetch_source": "true",
        "include_source_fields": "",
        "parent": "TestTag",
        "fields": "children, usageCount",
        "domain": "",
        "service": "",
        "database": "",
        "disabled": "true",
        "databaseSchema": "",
        "includeEmptyTestSuite": "true",
        "limit": "5",
        "before": "",
        "after": "after",
        "include": "all",
        "qFieldType": "str",
        "nameFieldType": "str",
        "id_paramFieldType": "str",
        "fqnFieldType": "str",
        "startTsFieldType": "num",
        "endTsFieldType": "num",
        "indexFieldType": "str",
        "deletedFieldType": "bool",
        "fromFieldType": "num",
        "sizeFieldType": "num",
        "sort_fieldFieldType": "str",
        "sort_orderFieldType": "str",
        "track_total_hitsFieldType": "bool",
        "query_filterFieldType": "str",
        "post_filterFieldType": "str",
        "fetch_sourceFieldType": "bool",
        "include_source_fieldsFieldType": "str",
        "parentFieldType": "str",
        "fieldsFieldType": "str",
        "domainFieldType": "str",
        "serviceFieldType": "str",
        "databaseFieldType": "str",
        "disabledFieldType": "str",
        "databaseSchemaFieldType": "str",
        "includeEmptyTestSuiteFieldType": "bool",
        "limitFieldType": "num",
        "beforeFieldType": "str",
        "afterFieldType": "msg",
        "includeFieldType": "str",
        "x": 660,
        "y": 740,
        "wires": [
            [
                "71acaab04ba7b1d2"
            ]
        ]
    },
    {
        "id": "4300f12f92dd20b9",
        "type": "test inject",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "onstart": false,
        "tests": "return [{\n\tlabel: 'test 1',\n\tassert: function (msg) {\n\t\tshould(msg.result).is.exactly(msg.expected);\n\t}\n}];",
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "39bc2fcef63efa12"
            ]
        ]
    },
    {
        "id": "f2d246998ce985e0",
        "type": "complete",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "scope": [
            "4300f12f92dd20b9"
        ],
        "uncaught": false,
        "x": 410,
        "y": 1140,
        "wires": [
            [
                "c9e192c21dcd6dcd"
            ]
        ]
    },
    {
        "id": "abda6c9fb0178503",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "TC25. List all tags with parent not exists",
        "info": " 1. Input: \n - parent: \"non_exist\"\n \n 2. Expected: Return all tags with specified parameters (max 5 records)",
        "x": 350,
        "y": 980,
        "wires": []
    },
    {
        "id": "c9e192c21dcd6dcd",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "134923de6b4bc125",
        "type": "assert",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "x": 1230,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "bb5a2979f7613aa6",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "Actual result from openmetadata node",
        "info": "",
        "x": 710,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bd405b2005db622a",
        "type": "comment",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "Expected result from REST API",
        "info": "",
        "x": 1030,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b9dea23072de6d1a",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "13a88a650be35540"
            ]
        ]
    },
    {
        "id": "9a5cc20d015dca7a",
        "type": "json",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "b9dea23072de6d1a"
            ]
        ]
    },
    {
        "id": "5a61e0b25b10b4fc",
        "type": "change",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "expected",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "134923de6b4bc125"
            ]
        ]
    },
    {
        "id": "13a88a650be35540",
        "type": "http request",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.2.15:8585/api/v1/tags?parent=non_exist",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 1040,
        "wires": [
            [
                "c1796e9548303909"
            ]
        ]
    },
    {
        "id": "c1796e9548303909",
        "type": "json",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "5a61e0b25b10b4fc"
            ]
        ]
    },
    {
        "id": "39bc2fcef63efa12",
        "type": "openmetadata",
        "z": "086f488fb393be31",
        "g": "9d96dc71ac124b1c",
        "nodename": "",
        "openMetadataConfig": "ed60dcee1fc8d735",
        "resource": "list_tags",
        "showOptParams": true,
        "q": "*",
        "name": "PostgreSQL",
        "id_param": "<uuid>",
        "fqn": "postgres.test",
        "startTs": 0,
        "endTs": 1703152975657,
        "index": "table_search_index",
        "deleted": "false",
        "from": 0,
        "size": 10,
        "sort_field": "_score",
        "sort_order": "desc",
        "track_total_hits": "false",
        "query_filter": "",
        "post_filter": "",
        "fetch_source": "true",
        "include_source_fields": "",
        "parent": "non_exist",
        "fields": "",
        "domain": "",
        "service": "",
        "database": "",
        "disabled": "",
        "databaseSchema": "",
        "includeEmptyTestSuite": "true",
        "limit": "",
        "before": "",
        "after": "",
        "include": "",
        "qFieldType": "str",
        "nameFieldType": "str",
        "id_paramFieldType": "str",
        "fqnFieldType": "str",
        "startTsFieldType": "num",
        "endTsFieldType": "num",
        "indexFieldType": "str",
        "deletedFieldType": "bool",
        "fromFieldType": "num",
        "sizeFieldType": "num",
        "sort_fieldFieldType": "str",
        "sort_orderFieldType": "str",
        "track_total_hitsFieldType": "bool",
        "query_filterFieldType": "str",
        "post_filterFieldType": "str",
        "fetch_sourceFieldType": "bool",
        "include_source_fieldsFieldType": "str",
        "parentFieldType": "str",
        "fieldsFieldType": "str",
        "domainFieldType": "str",
        "serviceFieldType": "str",
        "databaseFieldType": "str",
        "disabledFieldType": "str",
        "databaseSchemaFieldType": "str",
        "includeEmptyTestSuiteFieldType": "bool",
        "limitFieldType": "num",
        "beforeFieldType": "str",
        "afterFieldType": "str",
        "includeFieldType": "str",
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "9a5cc20d015dca7a"
            ]
        ]
    },
    {
        "id": "d14a3d9cd6fb8c0d",
        "type": "inject",
        "z": "086f488fb393be31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "d0bf71f0aa51437f"
            ]
        ]
    },
    {
        "id": "ed60dcee1fc8d735",
        "type": "openMetadataConfig",
        "name": "token",
        "endpoint": "http://10.0.2.15:8585/api/v1/",
        "endpointFieldType": "str",
        "user": "",
        "userFieldType": "str",
        "password": "",
        "passwordFieldType": "str",
        "tokenInput": "eyJraWQiOiJHYjM4OWEtOWY3Ni1nZGpzLWE5MmotMDI0MmJrOTQzNTYiLCJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJvcGVuLW1ldGFkYXRhLm9yZyIsInN1YiI6ImluZ2VzdGlvbi1ib3QiLCJlbWFpbCI6ImluZ2VzdGlvbi1ib3RAb3Blbm1ldGFkYXRhLm9yZyIsImlzQm90Ijp0cnVlLCJ0b2tlblR5cGUiOiJCT1QiLCJpYXQiOjE3MDI5NTM1MTYsImV4cCI6bnVsbH0.ysLDuWqsA8TA5TqwPp0cm8kLu0yQc-RbYBMyMGSY-JCtgR1zRAKpjhAczzFcMHQgXbCGtoXZGE4-OgWDXBoHFFeUXlYxCOFXJOz6K3xPgWM0u6OM0xRYAVGzqpWPzZDO0Wgg5dEV_j86pjCYq4EOuLwGHXhKoFwIi_ezwj8jeUBsmLy0SnaHhE1T4u_hcoikNOVOwpsNq7k9EJigLuIvftfZJacWAzAsNJkwVQymdNNufimUsI4CeZYIowgpYQV2EAoxOBOrnUUeyBx49nmAJAMqbqIzl_rP8KW1EL---Q_mYaHL1o0Qc06JufkpTf3Ir5--CnVZZjEyfYQjJI0jCg",
        "tokenFieldType": "str",
        "token": "",
        "proxy": "",
        "proxyFieldType": "str",
        "noproxy": true
    }
]